@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerHorVer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 600PX:          Phone
600 - 900px:        Tablet portrait
900 - 1200px:       Tablet landscape
[1200 - 1800] is where our normal styles apply
1200px + :          Big desktop

*/

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
